$main-bg-color: linear-gradient(to top, #1b1b1b, #00183d);
$block-bg-color: #3f5677;

$main-text-color: #fff;
$main-border-color: #7494be;

$text-bg-color: black;
$link-hover-color: thistle;

$optionsBar-bg-color: #223c62;
$rightBar-bg-color: #163159;